[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pytest-cov = "*"
pytest = "*"

[packages]
uvicorn = "*"
fastapi = "*"
gunicorn = "*"
pyjwt = "*"
fastapi-utils = "*"
requests = "*"

[requires]
python_version = "3.8"
